.oxd_openid_help_title {
	font-size:13px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.oxd_openid_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
#custom_script_table, #custom_script_table tr,#custom_script_table tr td,#custom_script_table tr th{
	text-align: center;
	border: 1px solid green;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}
.oxd_openid_support_layout{
	width: 93%;
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding-left:20px;
	height:409px;

}
.oxd_openid_table_layout {
	background-color: #e5fff3;
	border:2px solid #53cc6b;
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
	height:auto;
	min-height:400px;
}

.nav-tab{
	background-color: #66dade;
	border:3px solid #53cc6b;
}
.nav-tab-active{
	background-color: #53cc6b;
	border:3px solid #66dade;
}
.oxd_opneid_table_td_checkbox {
	padding-left: 10px;
}
.oxd_openid_table_textbox {
	width:80%;
}
.oxd_openid_table_contact {
	width:95%;
}
.oxd_openid_settings_table,.oxd_openid_display_table {
	width: 100%;
}
.oxd_openid_settings_table tr td:first-child {
	width: 30%;
}

.oxd_openid_display_table tr td:first-child{
	width: 50%;
}

.oxd_openid_display_table .oxd_openid_table_textbox {
	width:70%;
}
.oxd_openid_login_wid li{
	margin:5px;
	list-style-type:none;
}

.oxd-openid-app-icons>a>img{
	width:35px !important;
	height:35px !important;
	margin:8px 0px;
	display: inline !important;
}

.oxd-openid-app-share-icons{
	width:35px !important;
	height:35px !important;
	display:inline !important;
}

.oxd-openid-share-link{
	border-bottom: 0px !important;
	box-sizing:border-box !important;
}

.circle{

	border-radius: 999px !important;
}


.oval{
	border-radius: 4px !important;
}

.round{

	border-radius: 999px !important;
}


.roundededges{
	border-radius: 4px !important;
}

.oxd-openid-app-icons>p{
	margin:0px !important;

}

.oxd-openid-app-icons{
	display:inline !important;
}

.theme-checkbox{
	vertical-align :super !important;
}

a{
	cursor:pointer;

}

.oxd_openid_display_interface{
	width:100%;
}

.oxd_openid_vertical{
	display:inline-block !important;
	overflow: visible;
	z-index: 10000000;
	padding: 10px;
	border-radius: 4px;
	opacity: 1;
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	box-sizing: content-box!important;
	width:40px;
	position:fixed;
}

.btn-customtheme{
	color:#ffffff !important;
}

.custom-login-button{
	text-align:center !important;
	color:white !important;
	padding-top:8px !important;
	box-sizing: border-box !important;
}

.btn-custom-dec{
	text-decoration:none !important;
}

.oxd-custom-share-icon{
	box-sizing:border-box !important;
}

.oxd_openid_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
.oxd_openid_title_panel{
	width: 100%;
	color: #1B79AE;
	cursor: pointer;
	font-weight: bold;
}

#TB_window, #TB_window #TB_ajaxContent {
	width:500px!important;
}

.oxd_openid_pricing_table{
	text-align:center;
	font-size: 15px !important;
}

.oxd_openid_pricing_header{
	color: #fff !important;
	margin: 8px !important;
}

.oxd_openid_pricing_sub_header{
	margin: 4px !important;
	color: #fff !important;
}

.oxd_openid_pricing_text{
	font-size: 15px !important;
	color: #fff !important;
	font-weight: bold !important;
}

.oxd_openid_pricing_free_tab{
	background-color: rgba(34, 153, 221, 0.82)!important;
//#29d
}

.oxd_openid_pricing_paid_tab{
	background-color: #1a71a4 !important;
}

.oxd_openid_thumbnail {
	width:250px;
	padding: 4px;

	margin-bottom: 10px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out
}
.mess_red{
	font-weight:bold ;display:block;margin-top:10px;color:red;background-color:rgba(251, 232, 0, 0.15);padding:5px;border:solid 1px rgba(255, 0, 9, 0.36);
}
.oxd_openid_msgs{
	font-size: 14px !important;
}

.oxd_openid_success_container{
	background-color: rgba(185, 228, 155, 0.56) !important;
	margin-left: 3px !important;

}

.oxd_openid_error_container{
	background-color: rgba(251, 102, 0, 0.29) !important;
	margin-left: 3px !important;
}