<?xml version="1.0"?>
<config>
    <modules>
        <GluuOxd_Openid>
            <version>1.9.3</version>
        </GluuOxd_Openid>
    </modules>
    <frontend>
        <routers>
            <GluuOxd_Openid_customer>
                <use>standard</use>
                <args>
                    <module>GluuOxd_Openid_Customer</module>
                    <frontName>sociallogin</frontName>
                </args>
            </GluuOxd_Openid_customer>
        </routers>
        <layout>
            <updates>
                <GluuOxd_Openid_layout>
                    <file>GluuOxd_Openid_layout.xml</file>
                </GluuOxd_Openid_layout>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <GluuOxd_Openid>
                <use>admin</use>
                <args>
                    <module>GluuOxd_Openid</module>
                    <frontName>openid</frontName>
                </args>
            </GluuOxd_Openid>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <GluuOxd_Openid_admin_layout>
                    <file>GluuOxd_Openid.xml</file>
                </GluuOxd_Openid_admin_layout>
            </updates>
        </layout>
        <menu>
            <GluuOxdOpenid translate="title" module="GluuOxd_Openid">
                <title>Gluu SSO 2.4.3</title>
                <sort_order>81</sort_order>
                <children>
                    <configure_extension translate="title" module="GluuOxd_Openid">
                        <title>Gluu and Social Login </title>
                        <sort_order>1</sort_order>
                        <action>openid/adminhtml_index</action>
                    </configure_extension>
                </children>
            </GluuOxdOpenid>
        </menu>
    </adminhtml>
    <global>
        <blocks>
            <GluuOxd_Openid>
                <class>GluuOxd_Openid_Block</class>
            </GluuOxd_Openid>
        </blocks>
        <helpers>
            <GluuOxd_Openid>
                <class>GluuOxd_Openid_Helper</class>
            </GluuOxd_Openid>
        </helpers>
        <resources>
            <GluuOxd_Openid_setup>
                <setup>
                    <module>GluuOxd_Openid</module>
                </setup>
            </GluuOxd_Openid_setup>
        </resources>
    </global>
</config>